/CLI
/backup
/cdn
/server/chnglog*
/server/message.store
/server/secret.store
/server/tmp.png
/server/user.store
/server/canary
/client/admin
/client/audiostream
/client/canary
/client/echo
/client/janusTest
/client/lowResJanus
/client/proxy
/client/pushNotifs
/client/scripts/
/client/aoldial.webm
/client/buddyin.wav
/client/compatibility.html
/client/computer_noises.webm
/client/error.mp3
/client/error.png
/client/exclamation.mp3
/client/firefox.png
/client/im.wav
/client/info.png
/client/logon.mp3
/client/matrix.TTF
/client/mspaint.png
/client/test.html
/client/verdana.ttf
/client/xpdesktop.png
/client/xptaskbar.png